<mat-sidenav-container autosize style="height: 100%">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <div
      class="sidenav-container"
      [@onSideNavChange]="sideNavState ? 'open' : 'close'"
    >
      <div>
        <div class="side-image">
          <mat-nav-list>
            <a mat-list-item class="logo-item">
              <img
                src="assets/icon-axiata.svg"
                style="max-height: 30px"
                alt="Icon Axiata"
              />
              <span [@animateText]="linkText ? 'show' : 'hide'">
                <img
                  src="assets/label-axiata.svg"
                  class="label-axiata"
                  alt="Label Axiata"
                />
              </span>
            </a>
          </mat-nav-list>
        </div>

        <div class="side-menu">
          <mat-nav-list>
            <a
              mat-list-item
              routerLink="axiata/allticket"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-icon>local_movies</mat-icon>
              <span
                [@animateText]="linkText ? 'show' : 'hide'"
                style="padding-left: 10px"
                >All Ticket
              </span>
            </a>
            <a
              mat-list-item
              routerLink="axiata/myticket"
              routerLinkActive="active"
            >
              <mat-icon>local_offer</mat-icon>
              <span
                [@animateText]="linkText ? 'show' : 'hide'"
                style="padding-left: 10px"
                >My Ticket
              </span>
            </a>
            <a
              mat-list-item
              routerLink="axiata/my-test"
              routerLinkActive="active"
            >
              <mat-icon>bug_report</mat-icon>
              <span
                [@animateText]="linkText ? 'show' : 'hide'"
                style="padding-left: 10px"
                >My Test
              </span>
            </a>
            <a mat-list-item routerLink="axiata/mosh" routerLinkActive="active">
              <mat-icon>explore</mat-icon>
              <span
                [@animateText]="linkText ? 'show' : 'hide'"
                style="padding-left: 10px"
                >Mosh Angular 4
              </span>
            </a>
          </mat-nav-list>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [@onMainContentChange]="sideNavState ? 'open' : 'close'">
    <nav class="navbar">
      <button mat-button (click)="onSinenavToggle()">
        <span class="material-icons">menu</span>
      </button>

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <div class="profile-menu">
          <div class="role">Role: Business Owner</div>
          <div class="btn role">
            <button mat-raised-button (click)="logout()">Logout</button>
          </div>
        </div>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <div class="profile-item">
          Hi, Ikhsan <span class="material-icons">arrow_drop_down</span>
        </div>
      </button>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
