<form>
    <ng-container>
        <div>
            <mat-form-field>
                <textarea matInput rows="6"></textarea>
                <input matInput type="text" autocomplete="off">
                <input matInput type="text" autocomplete="off">
            </mat-form-field>

            <mat-error></mat-error>
        </div>
        <div>
            <mat-form-field>
                <mat-label></mat-label>
                <mat-select>
                    <mat-option></mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error></mat-error>
        </div>
        <div>
            <mat-form-field>
                <mat-label></mat-label>
                <mat-select>
                    <mat-option></mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text">
            </mat-form-field>

            <mat-error></mat-error>
        </div>
    </ng-container>
    <button (click)="onProductInfoSubmit()">
        Next
    </button>
</form>