.login-layout {
    margin: auto;
    max-width: 320px;
}

.border-2 {
    border-radius: 28px;
}

.label-input {
    color: rgba(49, 53, 59, 0.68);
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    display: inline-block;
    pointer-events: none;
    margin-bottom: 4px;
}