<ul>
  <li class="media my-4 align-items-center" *ngFor="let follower of followers">
    <a [href]="follower.html_url">
      <img
        class="avatar media-object"
        src="{{ follower.avatar_url }}"
        alt="{{ follower.login }}" />
    </a>
    <div class="media-body">
      <div class="media-heading">
        <h4 class="mt-0 mb-1">
          <a [routerLink]="['/followers', follower.login]">
            {{ follower.login }}
          </a>
        </h4>
      </div>
    </div>
  </li>
</ul>
