<ul class="nav nav-pills">
  <li class="nav-item">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
      class="nav-link">
      Home
    </a>
  </li>
  <li class="nav-item">
    <a
      routerLink="/followers"
      routerLinkActive="active"
      class="nav-link">
      Followers
    </a>
  </li>
  <li *ngIf="authService.isLoggedIn()">
    <a
      routerLink="/axiata"
      routerLinkActive="active"
      class="nav-link">
      Axiata
    </a>
  </li>
</ul>