<div class="container">
  <div class="navigation">
    <mat-form-field appearance="fill">
      <mat-label>Filter by</mat-label>
      <mat-select [(ngModel)]="selectedFilter" name="filter">
        <mat-option *ngFor="let filter of filters" [value]="filter.value">
          {{ filter.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="table-container">
    <p-table [value]="tickets">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols" class="center">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tickets>
        <tr>
          <td class="center">{{ tickets.ticketId }}</td>
          <td class="center">{{ tickets.ticketName }}</td>
          <td class="center">{{ tickets.reporter }}</td>
          <td class="center">{{ tickets.createdAt }}</td>
          <td class="center">
            <span
              class="dot"
              [ngClass]="{
                success: tickets.status === 'success',
                warning: tickets.status === 'warning',
                waiting: tickets.status === 'waiting'
              }"
            ></span>
          </td>
          <td class="center">{{ tickets.activity }}</td>
          <td class="center">{{ tickets.productStream }}</td>
          <td class="center"></td>
        </tr>
      </ng-template>
    </p-table>

    <div style="padding-top: 20px">
      <app-usm></app-usm>
    </div>
  </div>
</div>
