<ul class="nav nav-pills mb-2">
  <li class="nav-item" (click)="viewMode = 'map'">
    <a class="nav-link" [class.active]="viewMode === 'map'">ngFor</a>
  </li>
  <li class="nav-item" (click)="viewMode = 'list'">
    <a class="nav-link" [class.active]="viewMode === 'list'">Test Case</a>
  </li>
  <li class="nav-item" (click)="viewMode = 'input'">
    <a class="nav-link" [class.active]="viewMode === 'input'">Input Format</a>
  </li>
  <li class="nav-item" (click)="viewMode = 'form'">
    <a class="nav-link" [class.active]="viewMode === 'form'">Template Driven</a>
  </li>
</ul>

<div class="container">
  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">
      <button class="btn btn-primary mb-2" (click)="loadCourses()">
        Load Courses
      </button>
      <ul class="list-group">
        <li
          *ngFor="let course of courses; trackBy: trackCourse"
          class="list-group-item"
        >
          {{ course.name }}
        </li>
      </ul>
    </div>
    <div *ngSwitchCase="'list'">
      <zippy title="Shipping Details"> Shipping Details Content </zippy>
    </div>
    <div *ngSwitchCase="'input'">
      <input
        class="form-control"
        type="text"
        placeholder="Fullname"
        appInputFormat
      />
    </div>
    <div *ngSwitchCase="'form'">
      <contact-form></contact-form>
    </div>
    <div *ngSwitchDefault>Otherwise</div>
  </div>
</div>
